[submodule "子"]
	path = 子
	url = https://github.com/yxqorg/yxqgithubtest
[submodule "test"]
	path = test
	url = https://gitee.com/yang-xiaoquan/testt
[submodule "githubtest1"]
	path = githubtest
	url = https://github.com/yxqorg/yxqgithubtest
