[submodule "子"]
	path = 子
	url = https://gitee.com/yang-xiaoquan/testt
[submodule "test"]
	path = test
	url = https://gitee.com/yang-xiaoquan/testt
[submodule "githubtest"]
	path = githubtest1
	url = https://github.com/yxqorg/yxqgithubtest
